/* a, span, em, input */
* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

li {
  list-style: none;
}

header {
  height: 60px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 18px;
  font-weight: 300;
}
header h1 strong {
  font-weight: 700;
}

.list {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.list li img {
  width: 80px;
}