/* a, span, em, input */
* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  background-color: #333;
}

li {
  list-style: none;
}

header {
  height: 60px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
header h1 strong {
  font-weight: 900;
}

.btns h2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 30px 0;
}
.btns ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btns ul li input {
  display: none;
}
.btns ul li input:checked + span {
  background-color: #f00;
}
.btns ul li span {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #666;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 50px;
}
.paper ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.paper ul li {
  width: 36px;
  height: 36px;
  background-color: #f00;
  color: #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 1;
  font-weight: 900;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.paper ul li:before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -50px;
  top: -50px;
}
.paper ul li.yellow {
  background-color: #f18c04;
  text-shadow: 1px 1px 0px #bf6f03,2px 2px 0px #bf6f03,3px 3px 0px #bf6f03,4px 4px 0px #bf6f03,5px 5px 0px #bf6f03,6px 6px 0px #bf6f03,7px 7px 0px #bf6f03,8px 8px 0px #bf6f03,9px 9px 0px #bf6f03,10px 10px 0px #bf6f03,11px 11px 0px #bf6f03,12px 12px 0px #bf6f03,13px 13px 0px #bf6f03,14px 14px 0px #bf6f03,15px 15px 0px #bf6f03,16px 16px 0px #bf6f03,17px 17px 0px #bf6f03,18px 18px 0px #bf6f03,19px 19px 0px #bf6f03,20px 20px 0px #bf6f03;
}
.paper ul li.blue {
  background-color: #1966d8;
  text-shadow: 1px 1px 0px #1450aa,2px 2px 0px #1450aa,3px 3px 0px #1450aa,4px 4px 0px #1450aa,5px 5px 0px #1450aa,6px 6px 0px #1450aa,7px 7px 0px #1450aa,8px 8px 0px #1450aa,9px 9px 0px #1450aa,10px 10px 0px #1450aa,11px 11px 0px #1450aa,12px 12px 0px #1450aa,13px 13px 0px #1450aa,14px 14px 0px #1450aa,15px 15px 0px #1450aa,16px 16px 0px #1450aa,17px 17px 0px #1450aa,18px 18px 0px #1450aa,19px 19px 0px #1450aa,20px 20px 0px #1450aa;
}
.paper ul li.red {
  background-color: #c1361e;
  text-shadow: 1px 1px 0px #952a17,2px 2px 0px #952a17,3px 3px 0px #952a17,4px 4px 0px #952a17,5px 5px 0px #952a17,6px 6px 0px #952a17,7px 7px 0px #952a17,8px 8px 0px #952a17,9px 9px 0px #952a17,10px 10px 0px #952a17,11px 11px 0px #952a17,12px 12px 0px #952a17,13px 13px 0px #952a17,14px 14px 0px #952a17,15px 15px 0px #952a17,16px 16px 0px #952a17,17px 17px 0px #952a17,18px 18px 0px #952a17,19px 19px 0px #952a17,20px 20px 0px #952a17;
}
.paper ul li.gray {
  background-color: #969696;
  text-shadow: 1px 1px 0px #7d7d7d,2px 2px 0px #7d7d7d,3px 3px 0px #7d7d7d,4px 4px 0px #7d7d7d,5px 5px 0px #7d7d7d,6px 6px 0px #7d7d7d,7px 7px 0px #7d7d7d,8px 8px 0px #7d7d7d,9px 9px 0px #7d7d7d,10px 10px 0px #7d7d7d,11px 11px 0px #7d7d7d,12px 12px 0px #7d7d7d,13px 13px 0px #7d7d7d,14px 14px 0px #7d7d7d,15px 15px 0px #7d7d7d,16px 16px 0px #7d7d7d,17px 17px 0px #7d7d7d,18px 18px 0px #7d7d7d,19px 19px 0px #7d7d7d,20px 20px 0px #7d7d7d;
}
.paper ul li.green {
  background-color: #19ad13;
  text-shadow: 1px 1px 0px #127f0e,2px 2px 0px #127f0e,3px 3px 0px #127f0e,4px 4px 0px #127f0e,5px 5px 0px #127f0e,6px 6px 0px #127f0e,7px 7px 0px #127f0e,8px 8px 0px #127f0e,9px 9px 0px #127f0e,10px 10px 0px #127f0e,11px 11px 0px #127f0e,12px 12px 0px #127f0e,13px 13px 0px #127f0e,14px 14px 0px #127f0e,15px 15px 0px #127f0e,16px 16px 0px #127f0e,17px 17px 0px #127f0e,18px 18px 0px #127f0e,19px 19px 0px #127f0e,20px 20px 0px #127f0e;
}